# python related
__pycache__/
.venv/
.venv*/

# git repository
train/apex/
train/flash-attention/
train/llm-jp-sft/
#Megatron-DeepSpeed/
train/triton/

# artifact
train/hostfile
train/hostfile*
train/output/
train/scripts/step2_pretrain_model/wandb/*
train/scripts/step2_pretrain_model/jobs/outs/*
train/scripts/step2_pretrain_model/**/hostfiles/*

Miniconda*
